<main id="main" class="main">

    <div class="pagetitle">
        <h1>Edit product</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/dash">Home</a></li>
                <li class="breadcrumb-item"> <a href="/admin/view-products">View Products</a></li>
                <li class="breadcrumb-item active">Edit</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">

            <div class="col-lg-10">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Floating labels Form</h5>

                        <!-- Floating Labels Form -->
                        <form class="row g-3" action="/admin/update-product/{{product._id}}" method="post"
                            enctype="multipart/form-data">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input name="titleMain" value="{{product.titleMain}}" type="text" class="form-control"
                                        id="floatingName" placeholder="State">
                                    <label for="floatingName">Title Main</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input name="title" value="{{product.title}}" type="text" class="form-control"
                                        id="floatingName" placeholder="State">
                                    <label for="floatingName">Title</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating mb-3">
                                    <select name="category" class="form-select" id="floatingSelect" aria-label="State">

                                        {{!-- <option selected value="{{product._id}}">{{productCategoryName}}</option>
                                        {{#each category}}
                                        <option value="{{this._id}}">{{categoryName.category}}</option>
                                        {{/each}}
                                        --}}


                                        <option selected value="{{product.category}}">{{productCategoryName}}</option>
                                        {{#each category}}
                                        <option value="{{this._id}}">{{this.category}}</option>
                                        {{/each}}

                                    </select>
                                    <label for="floatingSelect">Category</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating mb-3">
                                    <select name="brand" class="form-select" id="floatingSelect" aria-label="State">
                                        <option value="{{product.brand}}">{{product.brand}}</option>
                                        <option value="Apple">Apple</option>
                                        <option value="Samsung">Samsung</option>
                                        <option value="MI">MI</option>
                                        <option value="Sony">Sony</option>
                                        <option value="Bose">Bose</option>
                                        <option value="Dell">Dell</option>
                                        <option value="Nokia">Nokia</option>
                                        <option value="Nokia">LG</option>
                                        <option value="Nokia">OnePlus</option>
                                    </select>
                                    <label for="floatingSelect">Brand</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-floating">
                                    <input name="color" value="{{product.color}}" type="text" class="form-control"
                                        id="floatingCity" placeholder="City">
                                    <label for="floatingCity">Color</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-floating">
                                    <input name="actualPrice" value="{{product.actualPrice}}" type="text"
                                        class="form-control" id="floatingCity" placeholder="City">
                                    <label for="floatingCity">Actual Price</label>
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="form-floating">
                                    <input name="sellingPrice" value="{{product.sellingPrice}}" type="text"
                                        class="form-control" id="floatingCity" placeholder="City">
                                    <label for="floatingCity">Selling Price</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-floating">
                                    <input name="discount" value="{{product.discount}}" type="text" class="form-control"
                                        id="floatingCity" placeholder="City">
                                    <label for="floatingCity">Discount</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-floating">
                                    <input name="offerPrice" value="{{product.offerPrice}}" type="text"
                                        class="form-control" id="floatingCity" placeholder="City">
                                    <label for="floatingCity">Offer Price</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-floating">
                                    <input name="stock" value="{{product.stock}}" type="text" class="form-control"
                                        id="floatingCity" placeholder="City">
                                    <label for="floatingCity">Stock</label>
                                </div>
                            </div>


                            <div class="col-12 pb-5">
                                <div class="form-floating">
                                    <label for="">Product Description</label><br><br>
                                    <input type="text" name="productDescription" value="{{product.productDescription}}"
                                        style="height: fit-content; width: 100%; ">
                                </div>
                            </div>



                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Image 1</label>
                                <img src="/images/product-img/{{product.image1}}" style="width: 100px" alt="">
                                <div class="col-sm-8">
                                    <input type="file" class="form-control" name="image1" value="" id="formFile "
                                        multiple>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Image 2</label>
                                <img src="/images/product-img/{{product.image2}}" style="width: 100px" alt="">
                                <div class="col-sm-8">

                                    <input type="file" class="form-control" name="image2" value="" id="formFile">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Image 3</label>
                                <img src="/images/product-img/{{product.image3}}" style="width: 100px" alt="">
                                <div class="col-sm-8">
                                    <input type="file" class="form-control" name="image3" value="" id="formFile">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Image 4</label>
                                <img src="/images/product-img/{{product.image4}}" style="width: 100px" alt="">
                                <div class="col-sm-8">
                                    <input type="file" class="form-control" name="image4" value="" id="formFile">
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </form><!-- End floating Labels Form -->

                    </div>
                </div>
            </div>





        </div>
    </section>

</main><!-- End #main -->