<main id="main" class="main">
    <div class="pagetitle">
        <h1>Edit</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/dash">Home</a></li>
                <li class="breadcrumb-item"><a href="/admin/topBanner">Banner Management</a></li>
                <li class="breadcrumb-item active">Edit</li </ol>
        </nav>
    </div><!-- End Page Title -->


    <section class="section">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <!-- Floating Labels Form -->
                        <div class="row">
                            <div class=" col-md-8 card mb-3 ">
                                <img class="card-img-top" src="/images/banner-img/{{topBanner.largeImg}}"
                                    alt="Card image cap">
                            </div>
                            <div class="col-md-4">
                                <div class=" col-md-8 card mb-3 ">
                                    <img class="card-img-top" src="/images/banner-img/{{topBanner.smallImg}}"
                                        alt="Card image cap">
                                </div>
                            </div>
                        </div>
                        <form class="row g-3" action="/admin/update-TopBanner/{{topBanner._id}}" method="post" enctype="multipart/form-data">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input name="bannerTitle" type="text" class="form-control" id="floatingName" value="{{topBanner.bannerTitle}}"
                                        placeholder="State">
                                    <label for="floatingName">Enter Banner Title</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea name="bannerDescription"  class="form-control" placeholder="Address"
                                        id="floatingTextarea" style="height: 100px;">{{topBanner.bannerDescription}}</textarea>
                                    <label for="floatingTextarea">Enter Banner Description</label>
                                </div>
                            </div>
                            <div class="row mb-3 mt-5">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Large Device</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" name="largeImg" id="formFile" >
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Small Device</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" name="smallImg" id="formFile" >
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-secondary btn-sm" onclick="history.back()">Cancel</button>
                                <button type="reset" class="btn btn-danger btn-sm">Reset</button>
                                <button type="submit" class="btn btn-success btn-sm">Submit</button>
                            </div>

                        </form><!-- End floating Labels Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->