<main id="main" class="main">
    <div class="pagetitle">
        <h1><b><i class="bi bi-folder-plus"></i></b> Edit Category </i></h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/dash">Home</a></li>
                <li class="breadcrumb-item"><a href="/admin/product-category">Category Management</a> </li>
                <li class="breadcrumb-item active">Edit Category</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-6 ">

                <div class="card">
                    <div class="card-body"> 
                        
                        <h5 class="card-title ">Edit</h5> 
                        <!-- Horizontal Form -->
                        <form action="/admin/update-category/{{categoryDetails._id}}" method="post"
                            enctype="multipart/form-data">
                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Category Name</label>
                                <div class="col-sm-8">
                                    <input type="text" name="category" class="form-control" id="inputText"
                                        value="{{categoryDetails.category}}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Category Discount %</label>
                                <div class="col-sm-2">
                                    <input type="number" name="categoryDiscount" class="form-control" id="inputText"
                                    value="{{categoryDetails.categoryDiscount}}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">Description</label>
                                <div class="col-sm-8">

                                    <textarea name="Description" rows="5" class="form-control"
                                        id="inputText">{{categoryDetails.Description}}</textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="">Image</label>
                                <div class="col-sm-8">
                                    <input type="image" src="/images/category-img/{{categoryDetails.image}} "
                                        id="imgView" style="float:right" width="150">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-4 col-form-label">Change Image </label>
                                <div class="col-sm-8">
                                    <input type="file" class="form-control" name="image" onchange="viewImage(event)">
                                </div>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-secondary btn-sm" onclick="history.back()">Cancel</button>
                                <button type="reset" class="btn btn-danger btn-sm">Reset</button>
                                <button type="submit" class="btn btn-success btn-sm">Submit</button>
                                 
                            </div>
                        </form><!-- End Horizontal Form -->

                    </div>

                </div>


            </div>

        </div>


    </section>

</main><!-- End #main -->
{{!-- to change the image while slecting new --}}
<script>
    function viewImage(event) {
        document.getElementById("imgView").src = URL.createObjectURL(event.target.files[0])
    }
</script>