
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Banner Management</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/dash">Home</a></li>
                <li class="breadcrumb-item"></li><a href="#">Banner Management/</a></li>
                <li class="breadcrumb-item active"> Top Banner</i></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->




    <section class="section">
        <div>
            <p>Upload Main Banners here . Need to upload Mobile version and Desktop versions.. <a
                    href="/admin/addBanner" class="btn btn-primary btn-sm">Add New</a></p>

        </div>
        <hr>
        <div class="row ">
            {{#each bannerTop_main}}
            <div class=" col-md-8 card mb-3 ">
                <img class="card-img-top" src="/images/banner-img/{{this.largeImg}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.bannerTitle}}</h5>
                    <p class="card-text">{{this.bannerDescription}}</p>
                    <a class="btn btn-info btn-sm text-light" href="/admin/edit-TopBanner/{{this._id}}">Edit this
                        banner</a>
                    <button class="btn btn-danger btn-sm text-light" onclick="deleteBanner('{{this._id}}')">Delete
                        banner</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" col-md-8 card mb-3 ">
                    <img class="card-img-top" src="/images/banner-img/{{this.smallImg}}" alt="Card image cap">
                </div>
            </div>
            {{/each }}

        </div>
    </section>











</main><!-- End #main -->

<script>


    function deleteBanner(bannerId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/admin/delete-TopBanner/'+bannerId,
                    success(response) {
                        Swal.fire(
                            'Deleted!',
                            'Your Banner has been deleted.',
                            'success'
                        )
                        location.reload()
                    }
                })

            }
        })

    }
</script>