<main id="main" class="main">

    <div class="pagetitle">
        <h1>Products List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/dash">Home</a></li>
                <li class="breadcrumb-item"><a href="/admin/view-products">Product Management</a></li>

            </ol>
            <a href="/admin/add-product" type="button" class="btn btn-success "> <i class="bi bi-check-circle"></i> Add
                New</a>
        </nav>
    </div><!-- End Page Title   border-primary-->
    <table class="table table-bordered table-hover " id="myTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Brand</th>
                <th scope="col">Stock</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="row" class="create_index"></th>
                <td>{{this.title}}</td>
                <td>{{this.categoryDetails.category}}</td>
                <td>{{this.brand}}</td>
                <td>{{this.stock}}</td>
                <td><a href="/admin/edit-product/{{this._id}}" class="btn btn-warning btn-sm "> <i
                            class="bi bi-pencil-square"></i></a>
                    <button onclick="deleteProduct('{{this._id}}')" class="btn btn-danger btn-sm"> <i
                            class="bi bi-trash3"></i></button>
                </td>
            </tr>
            {{/each }}

        </tbody>
    </table>
    <!-- End Primary Color Bordered Table -->




</main><!-- End #main -->

<script>
    function deleteProduct(Id) {
        Swal.fire({
            text: "Are You really want to delete this product !",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/admin/delete-product/' + Id,
                    method: 'get',
                    success: (response) => {
                        Swal.fire(
                            'Deleted!',
                            'Your Product has been deleted.',
                            'success'
                        )
                        location.reload()
                    }
                })
            }
        })


    }
</script>