<main id="main" class="main">

    <div class="pagetitle">
        <h1>Products List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/dash">Home</a></li>
                <li class="breadcrumb-item"><a href="/admin/view-products">Product Management</a></li>
                
            </ol>
            <a href="/admin/add-product" type="button" class="btn btn-success "> <i class="bi bi-check-circle"></i> Add
                New</a>
        </nav>
    </div><!-- End Page Title -->
    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Brand</th>
                <th scope="col">Stock</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="row" class="create_index"></th>
                <td>{{this.title}}</td>
                <td>{{this.categoryDetails.category}}</td>
                <td>{{this.brand}}</td>
                <td>{{this.stock}}</td>
                <td><a href="/admin/edit-product/{{this._id}}" class="btn btn-warning btn-sm "> <i
                            class="bi bi-pencil-square"></i></a>
                    <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger btn-sm"> <i
                            class="bi bi-trash3"></i></a>
                </td>
            </tr>
            {{/each }}

        </tbody>
    </table>
    <!-- End Primary Color Bordered Table -->




</main><!-- End #main -->