<div class="breadcrumb-area bg-gray menuBarTop">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">my account </li>
            </ul>
        </div>
    </div>
</div>
<!-- my account wrapper start -->
<div class="my-account-wrapper pt-50 pb-120" style="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- My Account Page Start -->
                <div class="myaccount-page-wrapper">
                    <!-- My Account Tab Menu Start -->
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="myaccount-tab-menu nav" role="tablist">
                                <a href="#dashboad" class="active" data-toggle="tab"><i class="fa fa-dashboard"></i>
                                    Dashboard</a>
                                <a href="#orders" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>
                                <a href="#download" data-toggle="tab"><i class="fa fa-cloud-download"></i> Download</a>
                                <a href="#payment-method" data-toggle="tab"><i class="fa fa-credit-card"></i> Payment
                                    Method</a>
                                <a href="#address-edit" data-toggle="tab"><i class="fa fa-map-marker"></i> address</a>
                                <a href="#account-info" data-toggle="tab"><i class="fa fa-user"></i> Account Details</a>
                                <a href="/logOut"><i class="fa fa-sign-out"></i> Logout</a>
                            </div>
                        </div>
                        <!-- My Account Tab Menu End -->
                        <!-- My Account Tab Content Start -->
                        <div class="col-lg-9 col-md-8">
                            <div class="tab-content" id="myaccountContent">
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Dashboard</h3>
                                        <div class="welcome">
                                            <p>Hello, <strong>{{userName}}</strong> </p>
                                        </div>

                                        <p class="mb-0">From your account dashboard. you can easily check & view your
                                            recent orders, manage your shipping and billing addresses and edit your
                                            password and account details.</p>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade " id="orders" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Orders</h3>
                                        <div class="myaccount-table table-responsive ">
                                            <table class="table table-bordered">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Order</th>
                                                        <th>Date</th>
                                                        <th>Address</th>
                                                        <th>Total</th>
                                                        <th>Payment</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each orders}}
                                                    <tr>
                                                        <td>{{@index}}</td>
                                                        <td>{{this.date}}</td>
                                                        <td>
                                                            {{this.deliveryDetails.Name}} <br>
                                                            {{this.deliveryDetails.Street}} <br>
                                                            {{this.deliveryDetails.TownCity}}-{{this.deliveryDetails.State}}
                                                            <br>
                                                            {{this.deliveryDetails.Country}}-{{this.deliveryDetails.PostCode}}
                                                        </td>
                                                        <td>Rs.{{this.totalAmount}}</td>
                                                        <td>{{this.payment_method}}</td>
                                                        <td>{{this.status}}</td>

                                                        <td>
                                                            <div class="dropdown">
                                                                <button class="btn  btn-sm dropdown-toggle"
                                                                    type="button" id="dropdownMenuButton"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                    View
                                                                </button>
                                                                <div class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item"
                                                                        href="/orderDetails/{{this._id}}">View
                                                                        Details</a>
                                                                    <a class="dropdown-item" href="#">Cancel</a>

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {{/each }}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade" id="download" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Downloads</h3>
                                        <div class="myaccount-table table-responsive text-center">
                                            <table class="table table-bordered">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Date</th>
                                                        <th>Expire</th>
                                                        <th>Download</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Haven - Free Real Estate PSD Template</td>
                                                        <td>Aug 22, 2018</td>
                                                        <td>Yes</td>
                                                        <td><a href="#" class="check-btn sqr-btn "><i
                                                                    class="fa fa-cloud-download"></i> Download File</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>HasTech - Profolio Business Template</td>
                                                        <td>Sep 12, 2018</td>
                                                        <td>Never</td>
                                                        <td><a href="#" class="check-btn sqr-btn "><i
                                                                    class="fa fa-cloud-download"></i> Download File</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade" id="payment-method" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Payment Method</h3>
                                        <p class="saved-message">You Can't Saved Your Payment Method yet.</p>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade" id="address-edit" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Billing Address</h3>
                                        <address>
                                            <a href="/addAddress" class="float-right btn btn-primary">Add new</a>
                                        </address>
                                        {{#each address}}
                                        <div id="{{this.Address.addressId}}">
                                            <address>
                                                <p><strong>{{this.Address.Name}}</strong></p>
                                                <p>{{this.Address.HouseNo}} , {{this.Address.Street}} ,{{this.Address.TownCity}} <br>
                                                    {{this.Address.State}} , {{this.Address.Country}} ,
                                                    Pin-{{this.Address.PostCode}}</p>
                                                <p>Mobile: {{this.Address.Mobile}}</p>
                                            </address>
                                            <a href="/editAddress/{{@index}}" class="check-btn sqr-btn "><i
                                                    class="fa fa-edit"></i> Edit
                                                Address</a>
                                            <button style="border: none;" onclick="removeAddress('{{this.Address.addressId}}')"
                                                class="check-btn sqr-btn "><i class="bi bi-trash3"></i> Delete</button>
                                        </div>
                                        <br>
                                        <hr>
                                        {{/each}}
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade" id="account-info" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Account Details</h3>
                                        <div class="account-details-form">
                                            <form id="profile-form" action="#" method="post">
                                                <input type="text" name="userId" id="" value="{{userDetails._id}} "
                                                    hidden>
                                                <div class="single-input-item">
                                                    <label for="UserName" class="required">Name</label>
                                                    <input type="text" id="field1" name="UserName"
                                                        value="{{userDetails.UserName}}" />
                                                </div>
                                                <div class="single-input-item">
                                                    <label for="email" class="required">Email Adders</label>
                                                    <input type="text" id="field2" name="UserEmail"
                                                        value="{{userDetails.UserEmail}}" />
                                                </div>
                                                <div class="single-input-item">
                                                    <label for="mobile" class="required">Mobile Number</label>
                                                    <input type="number" id="field3" name="MobileNo"
                                                        value="{{userDetails.MobileNo}}" />
                                                </div>
                                                {{!-- <fieldset>
                                                    <legend>Password change</legend>
                                                    <div class="single-input-item">
                                                        <label for="current-pwd" class="required">Current
                                                            Password</label>
                                                        <input type="password" id="current-pwd" />
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="single-input-item">
                                                                <label for="new-pwd" class="required">New
                                                                    Password</label>
                                                                <input type="password" id="new-pwd" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="single-input-item">
                                                                <label for="confirm-pwd" class="required">Confirm
                                                                    Password</label>
                                                                <input type="password" id="confirm-pwd" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset> --}}
                                                <div class="single-input-item">
                                                    <button type="submit" class="btn btn-danger float-left "
                                                        id="save">Update </button>
                                                    {{!-- <a class="btn btn-danger float-right " id="edit">Edit</a> --}}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div> <!-- Single Tab Content End -->
                            </div>
                        </div> <!-- My Account Tab Content End -->
                    </div>
                </div> <!-- My Account Page End -->
            </div>
        </div>
    </div>
</div>

<script>
    $('#profile-form').submit((e) => {
        e.preventDefault()
        let UserName = document.getElementById('field1')
        let UserEmail = document.getElementById('field2')
        let MobileNo = document.getElementById('field3')
        Swal.fire({
            title: 'Do you want to save the changes?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Save',
            denyButtonText: `Don't save`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                $.ajax({
                    url: '/updateProfile',
                    method: 'post',
                    data: $('#profile-form').serialize(),
                    success: (response) => {
                        console.log(response.UserName)
                        document.getElementById('field1').innerHTML = response.UserName
                        document.getElementById('field2').innerHTML = response.UserEmail
                        document.getElementById('field3').innerHTML = response.MobileNo
                    }
                })
                Swal.fire({
                    icon: 'success',
                    title: 'Your Profile Updated',
                    showConfirmButton: false,
                    timer: 1000
                })
            } else if (result.isDenied) {
                document.getElementById('field1').innerHTML = UserName
                document.getElementById('field2').innerHTML = UserEmail
                document.getElementById('field3').innerHTML = MobileNo
                Swal.fire({

                    icon: 'info',
                    title: 'Changes are not saved',
                    showConfirmButton: false,
                    timer: 1000
                })
            }
        })
    })

    function removeAddress(addressId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/deleteAddress',
                    data: {
                        addressId: addressId
                    },
                    method: 'get',
                    success(response) {
                        Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                        document.getElementById(addressId).remove()
                    }
                })
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )
            }
        })
    }



    function disable() {
        document.getElementById("field1").disabled = true;
        let x = document.getElementById("save");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        let y = document.getElementById("edit");
        if (y.style.display === "block") {
            y.style.display = "none";
        } else {
            y.style.display = "block";
        }

    }
    function enable() {
        document.getElementById("field1").disabled = false;
        let y = document.getElementById("edit");
        if (y.style.display === "none") {
            y.style.display = "block";
        } else {
            y.style.display = "none";
        }
        let x = document.getElementById("save");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }



</script>