<div class="breadcrumb-area bg-gray menuBarTop">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/viewAll">Home</a>
                </li>
                <li>
                    <a href="/cart">Cart</a>
                </li>
                <li class="active">Checkout </li>
            </ul>
        </div>
    </div>
</div>
<div class="checkout-main-area pt-50 pb-120">
    <div class="container">
        {{!-- <div class="customer-zone mb-20">
            <p class="cart-page-title">Returning customer? <a class="checkout-click1" href="#">Click here to login</a>
            </p>
            <div class="checkout-login-info">
                <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new
                    customer, please proceed to the Billing & Shipping section.</p>
                <form action="#">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="sin-checkout-login">
                                <label>Username or email address <span>*</span></label>
                                <input type="text" name="user-name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="sin-checkout-login">
                                <label>Passwords <span>*</span></label>
                                <input type="password" name="user-password">
                            </div>
                        </div>
                    </div>
                    <div class="button-remember-wrap">
                        <button class="button" type="submit">Login</button>
                        <div class="checkout-login-toggle-btn">
                            <input type="checkbox">
                            <label>Remember me</label>
                        </div>
                    </div>
                    <div class="lost-password">
                        <a href="#">Lost your password?</a>
                    </div>
                </form>
                <div class="checkout-login-social">
                    <span>Login with:</span>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Google</a></li>
                    </ul>
                </div>
            </div>
        </div> --}}
        {{!-- <div class="customer-zone mb-20">
            <p class="cart-page-title">Have a coupon? <a class="checkout-click3" href="#">Click here to enter your
                    code</a></p>
            <div class="checkout-login-info3">
                <form action="#">
                    <input type="text" placeholder="Coupon code">
                    <input type="submit" value="Apply Coupon">
                </form>
            </div>
        </div> --}}

        <form id="checkout-form" action="#" method="post">
            <div class="checkout-wrap pt-20">

                <div class="row">

                    <div class="col-lg-6">
                        <div class="billing-info-wrap mr-50">

                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="billing-select mb-20">
                                        <label>Choose Your Address <abbr class="required"
                                                title="required">*</abbr></label>
                                        <select onchange="getAddress()" placeholder="Please" id="address">
                                            <option>Select</option>
                                            {{#each address}}

                                            <option value="{{this.Address.addressId}}">{{this.Address.Name}},
                                                {{this.Address.Street}}, Pin-{{this.Address.PostCode}} </option>
                                            {{/each}}

                                        </select>
                                    </div>
                                    <h4>Delivery Address</h4>
                                </div>

                                <input type="text" name="userId" id="" value="{{headerDetails.userId}}" hidden>

                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20 form-floating">
                                        <input type="text" name="Name" class="form-control" id="Name" placeholder=".">
                                        <label for="Name">Your Name </label>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="billing-info mb-20 form-floating">

                                        <input name="HouseNo" placeholder="." type="text" class="form-control"
                                            id="HouseNo" required>
                                        <label for="HouseNo">House number and street name.</label>
                                    </div>
                                    <div class="billing-info mb-20 form-floating">
                                        <input name="Street" placeholder="." type="text" class="form-control"
                                            id="Street" required>
                                        <label for="Street">Street Address.</label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="billing-info mb-20 form-floating">
                                        <input name="TownCity" placeholder="." type="text" class="form-control"
                                            id="TownCity" required>
                                        <label for="TownCity">Town / City</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="billing-info mb-20 form-floating">
                                        <input name="State" placeholder="." type="text" class="form-control" id="State"
                                            required>
                                        <label for="State">State</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="billing-info mb-20 form-floating">
                                        <input name="Country" placeholder="." type="text" class="form-control"
                                            id="Country" required>
                                        <label for="Country">Country</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="billing-info mb-20 form-floating">
                                        <input name="PostCode" placeholder="." type="number" class="form-control"
                                            id="PostCode" required>
                                        <label for="PostCode">Post Code / ZIP</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="billing-info mb-20 form-floating">
                                        <input name="Mobile" placeholder="." type="number" class="form-control"
                                            id="Mobile" required>
                                        <label for="Mobile">Mobile</label>
                                    </div>
                                </div>
                            </div>
                            <div class="additional-info-wrap">
                                <label>Order notes</label>
                                <textarea placeholder="Notes about your order, e.g. special notes for delivery. "
                                    name="message"></textarea>
                            </div>
                            <div>
                                <input name="couponApplied" value="0" id="couponApplied" type="text" hidden>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="your-order-area">
                            <div>
                                <div class="title-wrap">
                                    <h3 class="cart-bottom-title section-bg-gray">Use Coupon Code</h3>
                                </div>
                                <div class="discount-code">
                                    <p>Enter your coupon code if you have one.
                                        <span class="text-danger font-weight-bold" id="error"></span>
                                        <span class="text-success font-weight-bold" id="cname"></span>
                                    </p>
                                    <form>
                                        <input type="text" class="border " value="" id="couponDiscount"
                                            name="couponCode">
                                        <button onclick="applyCoupon()" id="add"
                                            class="cart-btn-2 float-right mt-2 mb-2 btn btn-outline-success btn-sm ">Apply
                                            Coupon</button>
                                        <button onclick="removeCoupon()" id="remove" style="display:none ;"
                                            class="cart-btn-2 float-right mt-2 mb-2 btn btn-outline-danger btn-sm ">Remove
                                            Coupon</button>
                                    </form>
                                </div>
                            </div>

                            <h3>Your order</h3>
                            <div class="your-order-wrap gray-bg-4">
                                <div class="your-order-info-wrap">
                                    <div class="your-order-info">
                                        <ul>
                                            <li>Product <span>Total</span></li>
                                        </ul>
                                    </div>
                                    <div class="your-order-middle">
                                        <ul>
                                            {{#each products}}
                                            <li>{{this.product.title}} X {{quantity}} <span>Rs. {{this.productTotal}}
                                                </span></li>
                                            {{/each}}

                                        </ul>
                                    </div>

                                    <div class="your-order-info order-subtotal">
                                        <ul>
                                            <li>Subtotal <span id="subTotal">{{headerDetails.total}} </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="your-order-info order-shipping">
                                        <ul>
                                            <li>Apply Coupon <p class="text-success" id="discount">0 </p>
                                            </li>
                                            <li class="text-success" id="offerDetail"></li>
                                        </ul>
                                    </div>
                                    <div class="your-order-info order-total">
                                        <ul>
                                            <li>Total <span id="total">{{headerDetails.total}} </span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="pay-top sin-payment">
                                        {{!-- checked="checked" --}}
                                        <input id="payment-method-3" class="input-radio" type="radio" value="COD"
                                            name="payment_method" required>
                                        <label for="payment-method-3">Cash on delivery </label>
                                        <div class="payment-box payment_method_bacs">
                                            <p>Pay cash Only on Delivery.</p>
                                        </div>
                                    </div>
                                    <div class="pay-top sin-payment">
                                        <input id="payment_method_1" class="input-radio" type="radio" value="ONLINE"
                                            name="payment_method">
                                        <label for="payment_method_1"> Online Payment </label>
                                        <img alt=""
                                                src="assets/images/icon-img/razorpay.png" width="80" >
                                        <div class="payment-box payment_method_bacs">
                                            <p>Make your payment directly into our bank account. Please use your Order
                                                ID as
                                                the payment reference.</p>
                                        </div>
                                    </div>
                                    <div class="pay-top sin-payment sin-payment-3">
                                        <input id="payment-method-4" class="input-radio" type="radio" value="PAYPAL"
                                            name="payment_method">
                                        <label for="payment-method-4">PayPal <img alt=""
                                                src="assets/images/icon-img/payment.png"><a href="#">What is
                                                PayPal?</a></label>
                                        <div class="payment-box payment_method_bacs">
                                            <p>Paypal</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Place-order">
                                {{!-- <a href="/viewAll">Place Order</a> --}}
                                <button class="btn btn-outline-danger " type="submit">Place Order</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>









<script>
    setTimeout(fade_out, 8000);
    function fade_out() {
        $("#error").fadeOut().empty();
    }

    /////////////////////////////////////////place order
    $('#checkout-form').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/placeOrder',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                if (response.codSuccess) {
                    location.href = '/orderSuccess/' + response.orderId
                }
                else if (response.razor) {
                    
                    razorpayPayment(response)
                }
                else if (response.payPal) {
                    console.log(response)
                    location.replace(response.linkto)
                }
            }
        })
    })


    function razorpayPayment(order) {
        
        
        console.log("*******************************************order in function")
        console.log(order)
        var options = {
            "key": "rzp_test_IsLNHEQ2MGIHsd", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "DigiCart",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                verifyPayment(response, order)          //aftergetting these ids and signature pass it to ajax with order 
            },
            "modal": {
                "ondismiss": function () {
                    
                    window.location.replace(order.RAZORPAY_FAIL_PAGE+order.receipt);
                   // window.location.replace("https://digicart.gq/paymentFailed/"+order.receipt);
                }
            },
            "prefill": {
                "name": order.UserName,
                "email":  order.UserEmail,
                "contact":  order.MobileNo
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };

        var rzp1 = new Razorpay(options);
        rzp1.open();
    }

    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/orderSuccess/' + response.orderId
                } else {
                    alert('Payment Failed')
                }
            }
        })
    }






</script>